@{
    Layout = "/Views/Shared/_Layout.cshtml";
}



<div class="manage-pages-layout-wrapper container">
    <div class="layout-header">
        <h2 class="title">Manage your account</h2>
    </div>
    <div class="layout-body">
        @await Html.PartialAsync("_ManageNav")
        <div class="layout-content">
            @RenderBody()
        </div>
    </div>
</div>


@*<div class="manage-page-wrapper profile-page-wrapper">
    <div class="page-header">
        <h2 class="title">@ViewData["Title"]</h2>
    </div>
    <div class="page-content">

    </div>
</div>*@

@section Styles {
    <environment include="Development">
        <link href="~/styles/auth-pages.css" rel="stylesheet" app-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/styles/auth-pages.min.css" rel="stylesheet" app-append-version="true" />
    </environment>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}