@using WebApplication1.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<aside class="manage-menu menu">
    <p class="menu-label">
        Manage your preferences
    </p>
    <ul class="menu-list">
        <li><a asp-action="Index" class="@ManageNavPages.IndexNavClass(ViewContext)">Profile</a></li>
        <li><a asp-action="ChangePassword" class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a></li>
        @if (hasExternalLogins)
        {
            <li><a asp-action="ExternalLogins" class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">External logins</a></li>
        }
        <li><a asp-action="TwoFactorAuthentication" class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">Two-factor authentication</a></li>
    </ul>
</aside>