@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div class="manage-page-wrapper profile-page-wrapper">
    <div class="page-header">
        <h2 class="subtitle is-3">@ViewData["Title"]</h2>
        @Html.Partial("_StatusMessage", Model.StatusMessage)
    </div>
    <div class="page-content">
        <section class="section">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="field">
                    <label asp-for="OldPassword" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="OldPassword" class="input" placeholder="Enter old Password" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="NewPassword" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="NewPassword" class="input" placeholder="Enter new Password" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="ConfirmPassword" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="ConfirmPassword" class="input" placeholder="Confirm new Password" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="field">
                    <button type="submit" class="button">Update password</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
