@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page-wrapper">
    <div class="page-header">
        <!-- Hero -->
        <section class="hero is-success is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Experience Keeper
                    </h1>
                    <h2 class="subtitle">
                        Save your experience in save place
                    </h2>
                </div>
            </div>
        </section>
    </div>

    <div class="page-content">

        <!-- Intro -->
        <section class="section page-section intro">
            <h1 class="title intro__header">Save your experience with Experience Keeper</h1>
            <h2 class="subtitle intro__content">
                Have you ever encounter with situation when you have just learned something new and tricky, so you want to remember it, write down somewhere? 
                Yes, of course. Maybe you have some notes, important info or just a simple text file with content you don't want to loose? 
                Or you don't want waste time on searching this info somewhere on disk, USB card, spartphone or some cloud storage? 
                Here "Experience Keeper" going on rescue.
            </h2>
        </section>

        <!-- Pros -->
        <section class="section page-section pros">
            <div class="pros__item">
                <div class="pros__image__wrapper">
                    <img class="pros__image" src="http://dev01.karrierestart.no/ImageSource/CandidateImage?fileId=67048&physicalName=1c13b9dc_g.PNG&h=790&w=1190&sar=True" alt="">
                </div>
                <div class="pros__name">Name</div>
                <div class="pros__desc">Desc asd asd asd asd asd aa sdhgashdhgasdhgasdhgasdfsadh</div>
            </div>
            <div class="pros__item">
                <div class="pros__image__wrapper">
                    <img class="pros__image" src="http://dev01.karrierestart.no/ImageSource/CandidateImage?fileId=67048&physicalName=1c13b9dc_g.PNG&h=790&w=1190&sar=True" alt="">
                </div>
                <div class="pros__name">Name</div>
                <div class="pros__desc">Desc asd asd asd asd asd aa sdhgashdhgasdhgasdhgasdfsadh</div>
            </div>
            <div class="pros__item">
                <div class="pros__image__wrapper">
                    <img class="pros__image" src="http://dev01.karrierestart.no/ImageSource/CandidateImage?fileId=67048&physicalName=1c13b9dc_g.PNG&h=790&w=1190&sar=True" alt="">
                </div>
                <div class="pros__name">Name</div>
                <div class="pros__desc">Desc asd asd asd asd asd aa sdhgashdhgasdhgasdhgasdfsadh</div>
            </div>
            <div class="pros__item">
                <div class="pros__image__wrapper">
                    <img class="pros__image" src="http://dev01.karrierestart.no/ImageSource/CandidateImage?fileId=67048&physicalName=1c13b9dc_g.PNG&h=790&w=1190&sar=True" alt="">
                </div>
                <div class="pros__name">Name</div>
                <div class="pros__desc">Desc asd asd asd asd asd aa sdhgashdhgasdhgasdhgasdfsadh</div>
            </div>
            <div class="pros__item">
                <div class="pros__image__wrapper">
                    <img class="pros__image" src="http://dev01.karrierestart.no/ImageSource/CandidateImage?fileId=67048&physicalName=1c13b9dc_g.PNG&h=790&w=1190&sar=True" alt="">
                </div>
                <div class="pros__name">Name</div>
                <div class="pros__desc">Desc asd asd asd asd asd aa sdhgashdhgasdhgasdhgasdfsadh</div>
            </div>
        </section>

        <!-- Image grid -->
        @{ 
            string imagesPath = "images/pages/home";
            string absoluteImagesPath = System.IO.Path.GetFullPath(System.IO.Path.Combine(ViewBag.WebRootPath, imagesPath));
            string[] files = System.IO.Directory.GetFiles(absoluteImagesPath);
            files = files.Select(x => (string)x.Replace(ViewBag.WebRootPath, "").ToString()).ToArray();
            files = files.Select(x => new { i = (new Random()).Next(0, files.Length), file = x }).OrderBy(x => x.i).Select(x => x.file).ToArray();
        }
        <section class="page-section simple-image-grid">
            <div class="images-wrapper">
                @for (int i = 0; i < files.Length; i++)
                {
                    string file = files[i];
                    <div class="image-wrapper">
                        <img src="@Url.Content(file)" />
                        <div class="image-cover">
                        
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/styles/home.css" app-append-version="true" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/styles/home.min.css" app-append-version="true" />
    </environment>
}

@section Scripts {
    <script>
        SystemJS.import('/scripts/pages/home/index.js');
    </script>
}