@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="auth-page-wrapper forgot-password-page-wrapper">
    <div class="page-header">
        <h2 class="title">@ViewData["Title"]</h2>
    </div>
    <div class="page-content">
        <section class="">
            <form asp-action="ForgotPassword" method="post" class="">
                <h4 class="subtitle">Enter your email.</h4>
                <hr />
                <div class="field">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="field">
                    <label asp-for="Email" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="Email" class="input" placeholder="Enter your Email" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="field">
                    <button type="submit" class="button is-primary is-outlined restore-button" is-outlined>Restore</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Styles {
    <environment include="Development">
        <link href="~/styles/auth-pages.css" rel="stylesheet" app-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/styles/auth-pages.min.css" rel="stylesheet" app-append-version="true" />
    </environment>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}