@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="auth-page-wrapper register-page-wrapper">
    <div class="page-header">
        <h2 class="title">@ViewData["Title"]</h2>
    </div>
    <div class="page-content">
        <section class="register-form-wrapper">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="register-form">
                <h4 class="subtitle">Create a new account.</h4>
                <hr />
                <div class="field">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="field">
                    <label asp-for="Email" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="Email" class="input" placeholder="Enter your Email" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Password" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="Password" class="input" placeholder="Enter your Password" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="ConfirmPassword" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="ConfirmPassword" class="input" placeholder="Confirm your Password" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="field">
                    <button type="submit" class="button is-primary is-outlined register-button" is-outlined>Register</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Styles {
    <environment include="Development">
        <link href="~/styles/auth-pages.css" rel="stylesheet" app-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/styles/auth-pages.min.css" rel="stylesheet" app-append-version="true" />
    </environment>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
