// Notes
// Sass !default is like adding an “unless this is already assigned” qualifier to your variable assignments.
// Colors
// Light colors set - http://colorhunt.co/c/106550
$color__red: #EE2b47 !default;
$color__black: #2c2E3E !default;
$color__blue--dark: #2c3E50 !default;
$color__blue: #34495E !default;
$color__blue--light: #537791 !default;
$color__blue--super-light: #5295c5 !default;
$color__grey--dark: #c1c0b9 !default;
$color__grey: #e7e6e1 !default;
$color__grey--light: #f3f3f3 !default;

$overlay__color: rgba(0, 0, 0, 0.5);

$border__color--red: $color__red;
$border__color--gray: $color__grey;

$link__color--base: $color__blue--light;
$link__color--hover: $color__blue--super-light;

// Text
$font-family--base: sans-serif !default;

$font-size--base: 16px;
$font-size--xs: 0.6rem;
$font-size--sm: 0.8rem;
$font-size--nm: 1rem;
$font-size--bg: 1.5rem;
$font-size--lg: 2rem;
$font-size--hg: 2.5rem;

$lheight-offset--base: 2px;
$lheight-offset: 0.1rem;
$line-height--base: $font-size--base + $lheight-offset--base;
$line-height--xs: $font-size--xs + $lheight-offset;
$line-height--sm: $font-size--sm + $lheight-offset;
$line-height--nm: $font-size--nm + $lheight-offset;
$line-height--bg: $font-size--bg + $lheight-offset;
$line-height--lg: $font-size--lg + $lheight-offset;
$line-height--hg: $font-size--hg + $lheight-offset;

// Errors
$error__color: $color__red;
$error__font: $color__red;