// Frameworks and libraries
@import "../jspm_packages/npm/bulma@0.6.2/bulma.sass";

// Custom styles
@import "utils/_variables.scss";
@import "modules/_slide-menu.scss";

html {
    font-size: $font-size--base; // define base font-size
    line-height: $line-height--base; // define base line-height
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: $color__blue-light;
}

.body-wrapper {
    width: 100%;
    height: 100%;
    margin-left: 2%;
    padding: 0;
}

.page-wrapper {
    min-height: 100%;
}
.page-header {
    padding: 1%;

    &--full-width {
        padding: 0;
    }
}
.page-content {
    padding: 1%;
}
.page-footer {

}

.page-section {
    // margin-top: 2%;
}

// MVC / JQuery validation styles
.text-danger {
    color: $error__color;
}
.validation-summary-errors {
    ul {
        li {
            font-size: $font-size--sm;
            line-height: $line-height--sm;
        }
        li:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }
}
.field-validation-error {
    font-size: $font-size--sm;
    line-height: $line-height--sm;
}