@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "is-danger" : "is-success";
    <div class="notification @statusMessageClass">
        @Model
    </div>
}
